

.card{
width: 330px;
display: flex;
position: relative;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background-color: #244e92;
color: white;
overflow: hidden;
}



.card:hover .Link__container{
    transform: scale(1);
}

.Link__container{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    padding: 20px 120px;
    background: #22a8f0bb;
    transform: scale(0);
    transition: transform .5s;
    transform-origin: bottom center;
}
.card__item{
    display: flex;
    flex-direction: row;
}
.Link__text{
    display: flex;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.card__button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
}


.card__texts{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    justify-self: flex-end;
    text-align: end;
   
   
}

.card__title{
    text-align: center;
    font-size: 1.5rem;
    justify-self: center;
}

.card__subtitle{
    text-align: center;
    justify-self: center;
    font-size: .9rem;
}

.card__paragraph{
    text-align: center;
    justify-self: center;
}



.card__picture{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 20px;
    align-self: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
   
}
